<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Titler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="~/Content/themes/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/smartGPSTheme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/global.js"></script>
    <style type="text/css">
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <div id="spinner" class="spinner" style="display: none;">
        <img id="img-spinner" src="~/Content/img/loading_spinner.gif" alt="Loading" />
    </div>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">smartGPS</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Travel", "Index", "Travel")</li>
                        <li>@Html.ActionLink("Fake", "Fake", "Travel")</li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>

                    </ul>
                    <form class="navbar-form pull-right">
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("My profile", "Index", "Profile")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Sign out", "SignOut", "UserManagement")</li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; Company 2013</p>
        </footer>
    </div>
</body>
</html>
